.logo{
    width: auto;  

    transition: min-width 1s,max-width 1s;
   
}


.logo-expand{
    min-width: 380px;
    max-width: 400px;
}

.logo-contract{
    min-width: 180px;
    max-width: 200px; 
}